/* *{
    color: rgb(255, 255, 255);
    font-family:Lexend Tera;
    background-color:rgb(133, 157, 134);
} */

body{
    color: rgb(255, 255, 255);
    font-family:Lexend Tera;
    background-color:rgb(133, 157, 134);
}

h1{
    font-size: 4em;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.city-info {
    background: None;
}

#stamp {
    width: 200px;
    height: auto;
    position: absolute;
    top: 10;
    left: 100;
    animation: slideIn 3s forwards;
    animation-fill-mode: forwards;
    z-index: 999;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}


.back-city {
    background-image: url("images/P2_Arezzo_edited.JPG")
}

/* .container {
    float: left;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
} */

/* .columns {
    float: left;
}

.col-40 {
    width: 40%;
}

.right-margin {
    width: 20%;
} */