
*{
    margin: 0;
    padding: 0;
    color: rgb(155, 128, 11);
    font-family: Aboreto; 
}

body {
    background-color: rgb(221, 229, 221);
    background-image: url("Images/trees.jpg");
    background-repeat: repeat-y;
    background-position: right;
}

#wrapper {
    width: 80%;
    margin: auto;
}

h1{
    font-size: 4em;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

#header {
    color: rgb(98, 192, 169);
    padding: 5%;
    width: 20%;
    margin: auto;
}

#footer {
    padding: 15%;
    width: 80%;
    margin: auto;
}

#nav {
    padding: 15%;
    width: 80%;
    margin: auto;
}

h2{
    font-size: 2em;
    text-decoration: underline;
    color: rgb(46, 166, 146);
    text-align: center;
    font-family: Raleway;
    text-transform: uppercase;
    margin-top: 0;
}

.main-text {
    line-height: 2em;
    font-family: Raleway;
    width: 70%;
}

ul#mainNav {
    list-style-type: none;
    list-style-type: circle;
}

#box {
    font-size: 4em;
    color: rgb(46, 166, 146);
    width: 100%;
    height: 100%;
}

div {
    width: 320px;
    padding: 10px;
    margin: 0;
}

img {
    width: 280px;
    height: auto;
}

/* Link attributes */
a:link {
    color: rgb(116, 137, 90);
}
  
a:visited {
    color: rgb(76, 85, 132);
}

a:hover {
    color: hotpink;
}

/* Column stuff */

.columns {
    float: left;
}

.col-40 {
    width: 40%;
}

.right-margin {
    width: 20%;
}

footer {
    clear: left;
}

@media only screen and (max-width: 750px) {
    body {
        background-color: aquamarine;
    }
    
    @media only screen and (max-width: 400px)  {
    
        Body{
            background-color: beige;
        }
        h1 {color:blue;
        }
    div{
        width:100%
        background-color 
    }
}